*.cmake
cmake.*
CMake*
*.a
*.nc
*.make
*.o
parallelfor
parallelfor_simd_x
parallelfor_simd_x_test
serial
parallelfor_test
serial_test
Makefile*
*.txt
*.out
*.d
*.ts
*.internal
*.marks
*.stamps
mpi
mpi_test
*.c
*.cpp
*.mod
*.F90*
